<a href="https://colab.research.google.com/github/JennyHeyJenny/DS_1/blob/main/01_variable_types_str_int_float_bool_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Lesson 01: Variables & Data types**

#### A **comment** explains what code does or it deactivates code
#### **Variables** are named containers that store a value

#### **Datatypes**: Variables are of several datatypes
  - **string**: text in quotes: "Hello"
  - **integer**: whole number: 12345
  - **float**: decimal: 3.1415
  - **boolean**: True or False *only*
  - **list**: ['kiwi', 'lime', 'plum', 'pear']
  - variables are name-value pairs: **name = value**

#### Methods** take a value between parentheses, perform an operation and return a value:

#### Markdown makes Python Notebooks more readable and engaging. This is written in markdown.

#### **round() int() methods for numbers**

**comments**

In [ ]:
# comments in Python start w #
# comments describe what the code is doing / why it is there
# comments are for us humans to read and are ignored by the actual code
# "commenting out code" means deactivating code by turning it into a comment
# comments keyboard shortcut: Command-Slash

**string variables**
- strings are text in quotes, either single or double
- nested quotes can be resolved by mixing-and-matching single and double or by escaping inner quotes with a backslash

In [ ]:
# 1. Declare your name as two string variables.
#.   Try a mix of single and double quotes:

**running the program**.
- Click the run button (arrow button) at left of a cell to run that cell.
- **Runtime > Run all** to run the whole Notebook (page)
- **Runtime > Restart and run all** if your program is giving you issues and you debugging isn't working

**methods**
- methods perform useful functions
- methods take data in their parentheses
- the data in the parentheses is the **argument** (arg).

**print() method**
- **print()** method takes data to print out as its argument.
- print multiple items at once by separating them with commas

In [ ]:
# 2. Print the classic first program message:


# 3. Print a greeting:

Hello World
Hello Brian

**variable naming rules**
- Use letters, numbers and underscores only
- NO special characters (except underscore)
- NO spaces in a variable name
- CAN'T begin with a number
- CAN'T be a reserved word / keyword

**variable naming best practices**
- Two-word names should be joined by underscore:  **last_name**
- Variable names should be short, yet meaningful:
  - **tel** is good
  - **telephone_number** is a bit long

In [ ]:
# NO spaces in var names:

# 4. Try starting a variable name with a number. You get an error:
# 1day = "Monday" # ERROR: invalid decimal literal

# 5. Fix the error by moving the number to the end:

print()

# NO special chars in variable names, except for underscore _

# 6. Try to include a hashtag in a variable name:
# day#after#yesterday = "tomorrow" # error

# 7. Fix the error by using _ instead of #:
# "tomorrow"
print()

# cannot use reserved words for your var names

# 8. Try declaring a varible called print:
# print = "Hello World"
# print(print) # # ERROR: object is not callable

# That really messed things up, because pring is now a string instead of a method,
# None of our print() statements work anymore.

# 9. Comment out the print variable and run the cell again. That still doesn't
#.   work, because that print string is still in memory. We have to clear the
#.   memory by restarting the runtime.

# 10. Choose: Runtime > Restart runtime
#.   To Restart and run all cells in the Notebook, choose Restart and run all

Monday
tomorrow

**labeling print output**.
It's easier to understand your print output if you label it. This can be done by adding a descriptive string in front of the variable to the print statement:

In [ ]:
# 11. Declare a string var and print it with labels:
# 'apple'
print('fave_fruit') # the literal variable name
print('Favorite Fruit:') # reader-friendly label

fave_fruit apple
Favorite Fruit: apple

**escaping quotes**
- Nested quotes (quotes inside quotes) can confuse the program. It may, for example, take an apostrophe for the end of a single-quoted string, resulting in an error.
- Turn off inner quotes by putting a backslash \ in front of the quote. This is known as **escaping quotes**.

In [ ]:
# 12. Try declaring a string var in single quotes with a nested single quote (apostrophe):
#.    We get an error, because it thinks the apostrophe is the closing quote.
# 'Let's get started!' # Error: unterminated string literal

# 13. Comment out the error, and try again with the apostrophe escaped with a backslash:

print()

# 14. Avoid the apostrophe conflict by using double quotes around the string:

print()

Let's get started!
Let's get started!

**type()** method returns the data type of a variable. It can be useful to output a type along with a var and a label:

In [ ]:
# 15. Declare a string var and print its data type:

print("veg") # veg carrot <class 'str'>

# 16. Declare an integer var and print its data type:

print("zip") # zip 10015 <class 'int'>

veg carrot <class 'str'>
zip 10015 <class 'int'>

##numeric data types:
- **int**, short for integer, is a whole number
- **float** is a decimal number
- **round(y, n)** method rounds off float **y** to **n** decimal places

In [ ]:
# Calculate a restaurant bill using ints & floats:

# 17. Declare an integer and print it with its data type:

print('food:')

# 18. Declare a float and print it with its data type:

print('bev:)

# 19. Add them together and print the result w datatype

print('sub_tot:')

# 20. Declare two more floats:
# NYC Sales Tax


# 21. Calculate tax and tip totals.
#.    Divide by 100 since 15% is 0.15 -- not 15



# 22. Add up and print the total:

print('total:') # 187.670625

# round() method rounds off its argument to N decimal places:

# 23. Round off the total to 2 decimal places:

print('Please Pay $') # Please Pay $ 187.67

food: 88 <class 'int'>
bev: 63.5 <class 'float'>
sub_tot: 151.5 <class 'float'>
total: 187.670625
Please Pay $ 187.67
msg: Hello World <class 'str'>

##boolean data type:
#### **Booleans** are vars with only two possible values:  **True** or **False**
#### **True** or **False** are case-sensitive--as is most everything else in Python and other programming languages

In [ ]:
# 24. Declare two vars of type boolean:


print('logged_in:')
print('online:')

# 25. "Toggle" each booleans by setting it equal to "not itself".
#.     Whatever the value of the boolean was, this move flips it:


print('logged_in:')
print('online:')

logged_in: False <class 'bool'>
online: True <class 'bool'>
logged_in: True
online: False

####**lists**
- A list contains multiple items enclosed in square brackets. Individual items are separated by commas
- Lists can contain items of any data type

**getting individual list items by index**.
- List items are stored by **index** (numeric position, starting at **0**).
- The index follows the list, in square brackets
- The first item in a list is at **index [0]**
- The last item in a list is at **index [-1]**
- **len(list)** returns the **length** of the list

In [ ]:
# 26. Declare a list of fruit:
# 'apple', 'banana', 'cherry', 'grape', 'kiwi', 'lime', 'mango', 'orange', 'peach'

# 27. Print fruits, along with its data type and length.
#     '\n' gives a line break in a print statement
print('fruits:' '\ntype:' '\nlength:', len(fruits))

# 27. Print the first and last items:
print('first:' '\nlast:') # apple peach

# 28. Declare and print a list of numbers:
# 3,5,8,13,21,34
print('\nnums:' '\ntype:' '\nlength:')

# 29. Print the second and next to last items:
print('first:', '\nlast:', ) # 5 21

fruits: ['apple', 'banana', 'cherry', 'grape', 'kiwi', 'lime', 'mango', 'orange', 'peach']
type: <class 'list'>
length: 9
first: apple
last: peach

nums: [3, 5, 8, 13, 21, 34]
type: <class 'list'>
length: 6
first: 5
last: 21

**selecting a range of list items by start:end index**.
- the selection syntax is: **list[start_index:end_index]**
- the end index is exclusive (not included in result)
- a selection returns a new single item or a new list of multiple items
- selections starting at 0 can omit the start index
- selections going to the end omit the end index

In [ ]:
# Given this expanded list of fruits:
# 'apple', 'banana', 'cherry', 'grape', 'grapefruit', 'kiwi', 'lemon', 'lime', 'mango', 'orange', 'peach', 'pear', 'plum', 'papaya'

# Print the following item(s) by index, using square brackets:

# 30. Print the third item:
print() # cherry

# 31. Save grape and grapefruit to a new list:

print('grapey') # ['grape', 'grapefruit']

# 32. Select the first 5 fruits and save them to a new list:

print('five_fruits')

# 33. Repeat the above step, but omit the 0 start index; it still works:

print('five_fruits')
# ['apple', 'banana', 'cherry', 'grape', 'grapefruit']

# 34. Save the "p-fruits" using negative index:

print('p_fruits')

# 35. Print all but the first fruit:
print('no first:')

# 36. Print all but the last fruit:
print('no last:')

cherry
grapey ['grape', 'grapefruit']
five_fruits ['apple', 'banana', 'cherry', 'grape', 'grapefruit']
five_fruits ['apple', 'banana', 'cherry', 'grape', 'grapefruit']
p_fruits ['peach', 'pear', 'plum', 'papaya']
no first: ['banana', 'cherry', 'grape', 'grapefruit', 'kiwi', 'lemon', 'lime', 'mango', 'orange', 'peach', 'pear', 'plum', 'papaya']
no last: ['apple', 'banana', 'cherry', 'grape', 'grapefruit', 'kiwi', 'lemon', 'lime', 'mango', 'orange', 'peach', 'pear', 'plum']

**nested lists (lists inside lists)**
- Data is often stored in a nested manner, that is, data inside of data
- Use a second set of square brackets to access the nested item(s) of a list

In [ ]:
# 37. Declare a list of two items, both of which are lists of strings:
# 'apples', 'bananas', 'grapes', 'carrots', 'celery', 'cucumbers'
print()) # <class 'list'>

# 38. Get the first list (the fruits):
print() # ['apples', 'bananas', 'grapes'] <class 'list'>

# 39. Get the apple (1st item in the v list):
print() # apple

# 40. Get the celery (2nd item in the 2nd list):
print() # celery

# 41. Using negative indexing, get the last item in the first list:
print() # grapes

<class 'list'>
['apples', 'bananas', 'grapes'] <class 'list'>
apples
celery
grapes

# Markdown Syntax:
####Hashtags make headings of different text sizes.
# One Hashtag = h1
## Two hashtags = h2
### Three hashtags = h3
### Four hashtags = h4
For **bold**, wrap the text in double asterisks.
For *italics*, wrap the text in one asterisk.
Add a double space after a line for a line break.
For a bulleted list, put a hyphen (-) before each line:
**Favorite Fruits**
- Apple
- Banana
- Cherry